body {
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

h1 {
    font-size: 562.5%;
    width: 10%;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;  
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #66BFBF;
    position: relative;
    padding-top: 100px;
}

.security {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

