body {
    margin: 0;
    text-align: center;
}

h1 {
    width: 10%;
    margin: 0 auto 0 auto;
}

.top-container {
    background-color: #66BFBF;
}

.middle-container {
    background-color: red;
    width: 200px;
    height: 200px;
}
.bottom-container {
    background-color: blue;
    width: 200px;
    height: 200px;
}